<div class="card-item col">
    {%- if archive.redirect -%}
    <a href="{{ archive.redirect }}">
    {%- else -%}
    <a href="{{ archive.url | relative_url }}">
    {%- endif -%}
      <div class="card hoverable">
        <div class="row g-0">
          {%- if archive.img -%}
          <div class="card-img col-md-6">
            {% responsive_image_block %}
              path: {{ archive.img }}
              alt: "archive thumbnail"
            {% endresponsive_image_block %}
          </div>
          <div class="col-md-6">
          {%- else -%}
          <div class="col-md-12">
          {%- endif -%}
          </div>
        </div>
      </div>
    </a>
  </div>
  